body {
  margin: 0;
  background-color: rgba(239, 237, 237, 0.5);
}

.App {
  max-width: 1200px;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: lightGray;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 4px;
  font-weight: 600;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 20px;
  padding: 0 30px 30px;
}

input,
select {
  border: 1.5px gray solid;
  border-radius: 4px;
}

input, select {
  width: 100%;
}

button {
    margin: 20px auto;
    padding: 10px 20px;
    background-color: lightgray;
}

#create-employee {
  display: flex;
  flex-direction: column;
}